html, body {
  overflow-x: hidden;
}

body {
  position: relative;
  background-color: #ffe4b2;
}

button {
    background: transparent;
    color: #ffa500;
    font-size: 12em;
    padding: 0px;
    border: 0px;
    height: 25%;
    min-height: 200px;
}

button:active {
    color: #ff4500;
}

button:focus {
    outline: 0;
}

.button_wide {
    width: 100%;
}

.button_standard {
    width: 33%;
}
